{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>My Project</title>
		<!-- Latest compiled and minified CSS -->
		{%block css%}
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

		<!-- Optional theme -->
		<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
		{%endblock%}

		<!-- Latest compiled and minified JavaScript -->
		{%block js%}
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		{%endblock%}
    </head>

    <body>
    {% block content %}{% endblock content %}
    </body>
</html>