{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block css %}
  {{block.super}}
{%endblock%}
<style>
  .jumbotron {
        position: relative;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("{%static "img/group.jpg" %}") center center;
        width: 100%;
        height: 90%;
        margin-top: 0;
        background-size: cover;
        overflow: hidden;
}

</style>
<div class="jumbotron" id="Home">
  <div class="container text-center">
    <h2 style="color: #ffffff">Join your Equipo!</h2>
      <img src="{%static "img/EquipoLogo.png" %}" alt="Logo" height="20%" width="20%" class="img-circle" style="display:inline; padding-bottom: "> 
      
      <div class=" container-fluid row " style="text-align: center; padding-top: 3em">
     <div class="col-md-1 col-md-offset-5">
        <a class= "btn btn-outline"onclick="document.getElementById('id01').style.display='block'" style="width:auto; border-color: white; color: white ">Login</a>
     </div>   
      <div class="col-md-1">
        <a class= "btn btn-outline"onclick="document.getElementById('id02').style.display='block'" style="width:auto; border-color: white; color: white">Sign Up</a>
     </div>   
     
    </div>
  </div>
</div> 
    
<div id="id01" class="modal">
  
  <form class="modal-content animate" method="post" id="login-form" style=" width: 400px; height: 500px">
  
  {%csrf_token%}
  <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="{% static "img/loginIcon.png" %}" link rel="stylesheet" alt="Avatar" class="avatar text-center">
  </div>


    <div class="container" style="width: 100%">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required>
        
      <button type="submit" value="Login" >Login</button>
      <input type="hidden" name="next" value="{{ next }}">
      <input type="checkbox" checked="checked"> Remember me

    </div>

    <div class="container" style="background-color:#f1f1f1; width: 100%">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<!--
<div class="container-fluid">
  <br>
  <br>
<form id="login-form" method="post">
{%csrf_token%}

<div class="form-group row ">
  <label for="username" class="col-xs-1 col-xs-offset-4 col-form-label">Username</label>
  <div class="col-xs-3">
    <input class="form-control" type="text" name="username" id="username">
  </div>
</div>
<div class="form-group row">
  <label for="password" class="col-xs-1 col-xs-offset-4 col-form-label">Password</label>
  <div class="col-xs-3">
    <input class="form-control" type="password" name="password" id="password">
  </div>
</div>
<div class="form-group row">
  <div for="example-search-input" class="col-xs-1 col-xs-offset-4 col-form-label"></div>
  <div class="col-xs-3">
  <input type="submit" value="Login" class="btn btn-primary pull-right">
  <input type="hidden" name="next" value="{{ next }}">
    </div>
</div>
</form>
</div>
-->
{%endblock%}
