{% extends 'base.html' %}
{% load static %}

{%block css%}
	{{block.super}}
{%endblock%}
{%block js%}
	{{block.super}}
{%endblock%}
{% block content %}

{% ifequal user view.course_mapping.professor.user %}

<div class="container-fluid">
  <h2>{{professor_course_detail.course_title}}</h2>
  <h3>({{professor_course_detail.course_quarter}} {{professor_course_detail.course_year}})</h3>
  <br>
  <h3>Students</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        {% for question in view.course_mapping.config.questions.all%}
        <th>{{question.question_text}}</th>
        {%endfor%}
        <th>Rank</th>
      </tr>
    </thead>
    <tbody>
      {% for student in course_students %}
      <tr>
        <td>{{student.username}}</td>
        
        {% for answer in student.answers%}
        	<td>{{answer.answer|default_if_none:'--'}}</td>
        {%endfor%}
        <td>{{student.rank}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% else %}
<div class="container-fluid">
  <h2>You don't have permission for that...</h2>
</div>
{% endifequal %}
{% endblock %}