{% extends 'base.html' %}
{% load static %}

{%block css%}
	{{block.super}}

{%endblock%}
{%block js%}
	{{block.super}}
{%endblock%}
{% block content %}

{% ifequal user view.student.user%}

<div class="container-fluid">
	<h2>Courses</h2>
	<br>
	
	<form class="form-horizontal" method="POST">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-4 col-md-offset-7">
				{{form.course_choice}}
			</div>
			<div class="col-md-1 ">
				<input type="hidden" name="form-type" value="form" />
				<button type="submit" class="btn btn-primary pull-right">Add A Course</button>				
			</div>
		</div>
	</form>
	<br>
	<table class="table table-striped">
		<thead>
			<th>Professor</th>
			<th>Course</th>
			<th>Quarter</th>
			<th>Year</th>
			<th>Questions Answered?</th>
			<th>Rank</th>
		</thead>
		<tbody>
			{% for course in course_list %}
			<tr>
			<td>{{course.professor.user.username}}</td>
			<td><a href='/users/students/{{view.student.id}}/courses/{{course.course_id}}'>{{course.course_title}}</a></td>
			<td>{{course.course_quarter}}</td>
			<td>{{course.course_year}}</td>
			<td>{{course.answered}}</td>
			<td>{{course.rank}}</td>
		</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{%else%}
<div class="container-fluid">
	<h2>You don't have permission for that...</h2>
</div>
{%endifequal%}
{%endblock%}