{% extends 'base.html' %}
{% load static %}

{%block css%}
	{{block.super}}

{%endblock%}
{%block js%}
	{{block.super}}
{%endblock%}
{% block content %}

{% ifequal user view.student_mapping.student.user%}

<div class="container-fluid">
	<h2>Courses</h2>
	<br>
	<select name="course">
    {% for course in course_list %}
            <option value="{{course.id}}">Course {{course.course_number}}: {{course.course_title}}</option>
    {% endfor %}
	</select>
	<table class="table table-striped">
		<thead>
			<th>Professor</th>
			<th>Course</th>
			<th>Quarter</th>
			<th>Questions Answered?</th>
			<th>Rank</th>
		</thead>
		<tbody>
			{% for course in course_list %}
			<tr>
			<td>{{course.professor.user.username}}</td>
			<td><a href='/users/students/{{view.student_mapping.student.id}}/courses/{{course.course_id}}'>{{course.course_title}}</a></td>
			<td>{{course.course_quarter}}</td>
			<td>{{course.answered}}</td>
			<td>{{course.rank}}</td>
		</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{%else%}
<div class="container-fluid">
	<h2>You don't have permission for that...</h2>
</div>
{%endifequal%}
{%endblock%}